<!DOCTYPE html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    i'm body2 {{test}}
    <div id="app">
        <p>{{greetvue}}</p>
        <p>{{greeting}}</p>
    </div>
</body>   
<script>
    var app=new Vue({
        el:'#app',
        data:function(){
            return {
                greetvue:'greeting from vue',
                greeting:''
            }
        },
        created: async function() {
            const getres=await fetch('http://127.0.0.1:5000/administer_data')
            const getobj=await getres.json()
            this.greeting=getobj.greeting
        },
    })
</script>

</html>